* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_header {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.app_header>h1 {
  color: #fa3b5a;
  font-size: 2rem;
}

.app_header>h1>span {
  color: #121a22;
  font-size: 1.2rem;
}

.app_dropdown {
  background-color: #fff;
  padding: 10px !important;
  border-radius: 5px !important;
}

.app_stats {
  display: flex;
  justify-content: space-around;
}

.app_right {
  display: flex;
  flex-direction: column;
}
.app_table_heading,
.app_graph_heading{
  padding: 10px;
  color: #2a4757 !important;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app_graph {
  flex-grow: 1;
}

.app_left {
  flex: 0.9;
}

@media (max-width:990px) {
  .app {
    flex-direction: column;
  }
}